<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Uniquement pour lire la page publique de l'ARC qui annonce le plafond
         CELI de l'annee. Aucune donnee de l'utilisateur ne sort de l'appareil. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CeliTrackerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.CeliTracker">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CeliTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
